*, *::before, *::after{
  box-sizing: border-box;
}

img{
  display: block;
  width: 100%;
  height: auto;
}

body{
  font-family: $chineseFont;
  line-height: 1.5;
  color: $gray;
}

a{
  text-decoration: none;
  transition: all ease .5s;
}

.container{
  max-width: $max-width;
  margin: 0 auto;
  padding-right: $gutterWidth / 2;
  padding-left: $gutterWidth / 2;
}

.full-container{
  width: 100%;
}

button, a, input, select, textarea{
  cursor: pointer;
}