// width
$max-width: 1110px;

// spacing
$min-space: 4px;
$space: 8px;

// color
$primary: #00807E;
$primary_300: #64C3BF;
$primary_600: #007572;
$primary_900: #004a48;

$gray: #818A91;
$gray_50: #FAFAFA; // add input 背景
$gray_100: #F7F7F7; // list 背景
$gray_200: #DEE2E6; // card 邊框
$gray_300: #CED4DA; // filter 邊框


// font size
$font-h1: 2rem; // 32px
$font-h2: 1.5rem; // 24px
$font-h3: 1.25rem; // 20px
$font-r: 16px;


// font family
$chineseFont: 'Noto Sans TC',sans-serif;
$engFont: 'Roboto', sans-serif;